mlflow==2.18.0
accelerate==1.0.1
cffi==1.17.1
cloudpickle==3.1.0
defusedxml==0.7.1
dill==0.3.8
google-cloud-storage==2.18.2
jaraco-collections==5.1.0
jinja2==3.1.4
numpy==1.26.4
pandas==2.2.2
pynvml==11.5.3
scipy==1.13.1
tf-keras==2.17.0
torchvision==0.19.1
transformers==4.46.0

psutil==5.9.0
scikit-learn==1.4.2
Flask
azure-storage-blob
gunicorn
deep-translator
pytest

# suivi dans Azure Application Insight
azure-monitor-opentelemetry-exporter
opentelemetry-api
opentelemetry-sdk

# sous Windows il a été nécessaire d'installer:
# Visual C++ build Tools (site Microsoft)
# jsonschema
# pygments